.App {
  text-align: center;
}
.counter {
  display:flex;
  justify-content: space-around;
}
.counter button {
  padding:10px 60px;
  background-color: green
}
.reset button {
  padding : 10px 60px;
  background-color: red
}